<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'parts/styles.njk' %}
    {% block head %}
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/recipes-grid.css">
    {% endblock head %}
</head>
<body>
    <div class="container">
        {% include 'parts/public/header.njk' %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
    {% block scripts %}
    {% endblock scripts %}
    {% include 'parts/public/scripts.njk' %}
</body>
</html>