:root {
    --green: #50fa7b;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #282A36;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.274);
}

header div, .links {
    text-align: center;
}

.links a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
    transition: 400ms;
}

.links a:hover {
    color: var(--green);
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    margin-bottom: 32px;
    border-radius: 50%;
    border: 5px solid var(--green);
    height: 300px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin: 8px auto;
    opacity: 0.8;
}

#wrapper p {
    margin: 32px auto;
    max-width: 500px;
    font-size: 20px;
    line-height: 34px;
}

#wrapper p a {
    color: var(--green);
    font-weight: bold;
}

#links-footer {
    margin-bottom: 32px;
}

#links-footer a {
    border-bottom: 1px solid var(--green);
}
