.chef-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.chef-card {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.chef-card img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.chef-card p {
    margin-bottom: 10px;
}

.chef-card a {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    color: var(--purple);
}

.most-viewed {
    margin-bottom: 50px;
}

.most-viewed h3 {
    margin-bottom: 30px;
}

.chef-card-info p {
    margin-bottom: 0;
}