{% extends 'layout.njk' %}
{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome completo</div>
                <div>Thaíssa Candela</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>24</div>
            </div>
            <div class="item">
                <div>Grau de escolaridade</div>
                <div>PhD</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>Remoto</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Flutter</span>
                    <span>React Native</span>
                </div>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>01/06/2019</div>
            </div>
        </section>
    </div>
{% endblock content %}