<div class="modal-overlay">
    <div class="modal">
        <div class="modal-content">
            <img src="" alt="">
            <div class="recipe-info">
                <h3></h3>
                <p></p>
            </div>
            <a class="close-modal">Fechar</a>
        </div>
    </div>
</div>