{% extends "layout.njk" %}

{% block content %}
    <form action="/instructors" method="POST" class="card">
        <section class="avatar"></section>
        <section class="details">
            <h3>Novo instrutor</h3>
            {% include 'instructors/fields.njk' %}
        </section>
    </form>
{% endblock content %}