:root {
    --purple: #6C4FBB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #121214;
    padding: 30px;
    border-bottom: 5px solid var(--purple);
    text-align: center;
}

.links a {
    margin: 16px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 400ms;
}

.links a:hover {
    color: var(--purple);
}

main {
    padding: 32px 0;
    text-align: center;
}

main img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid var(--purple);
}

main h2 {
    color: var(--purple);
    opacity: 0.9;
    margin: 16px auto;
}

main p + p {
    margin-top: 16px;
}

main ul {
    color: var(--purple);
    opacity: 0.6;
    font-weight: bold;
    margin-bottom: 16px;
}

#links-bottom {
    text-align: center;
    margin-bottom: 32px;
}

#links-bottom a {
    border-bottom: 1px solid var(--purple);
}