<div class="item">
    <div>Categoria</div>
    <div>
        <select name="category_id" id="category_id">
            <option value="" selected disabled>Selecione uma opção</option>
            {% for category in categories %}
            <option value="{{ category.id }}"
                {% if product.category_id == category.id %}selected{% endif %}>{{ category.name }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="item">
    <div>Título</div>
    <div>
        <input type="text" name="name" placeholder="Título do Anúncio" value="{{ product.name }}">
    </div>
</div>
<div class="item">
    <div>Descrição</div>
    <div>
        <textarea name="description" id="description">{{ product.description }}</textarea>
    </div>
</div>


<div class="item">
    <div>Valor</div>
    <div>
        <input type="text" name="price" onkeydown="Mask.apply(this, 'formatBRL')" placeholder="Preço do Produto" value="{{ product.price }}">
    </div>
    {% if product.old_price %}
    <input type="hidden" name="old_price" value="{{ product.old_price }}">
    {% endif %}
</div>
<div class="item">
    <div>Quantidade</div>
    <div>
        <input type="number" name="quantity" placeholder="Estoque disponível" value="{{ product.quantity }}">
    </div>
</div>
{% if product.status or product.status == 0 %}
<div class="item">
    <div>Disponibilidade</div>
    <div>
        <label><span><input type="radio" name="status" value="1" {% if product.status == '1' %}checked{% endif %}>Sim</span></label>
        <label><span><input type="radio" name="status" value="0" {% if product.status == '0' %}checked{% endif %}>Não</span></label>
    </div>
</div>
{% endif %}


