<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    {% block head %}
    <title>Gym Manager</title>
    {% endblock head %}
</head>
<body>
    <header>
        <div class="links">
            <a href="/" class="active">Instructors</a>
            <a href="/menbers">Members</a>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>