/* ================= CREATE USER ================= */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
  margin-bottom: 32px;
}

.grid .input-group + .input-group {
  margin: 0;
}

.user-create {
  margin: 55px 0 30px;
}

.user-edit {
  text-align: initial;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.user-edit .button {
  padding: 10px 0;
  width: 140px;
  cursor: pointer;
  font-size: 16px;
  width: 140px;
  line-height: 19px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin-left: 16px;
  transition: filter 400ms;
}

.user-edit .abort {
  background-color: #8A8A8A;
}

.user-edit .button:hover {
  filter: brightness(1.1);
}

h4.admin {
  display: inline-block;
  margin-left: 8px;
}

/* ================= LOGIN USER ================= */
.user-login {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.actions-form {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions-form .other-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions-form .small {
  color: #969696;
  font-size: 16px;
  line-height: 19px;
  transition: all 100ms;
}

.actions-form .small:hover {
  color: #000;
  font-weight: bold;
}

