{% extends 'layout.njk' %}

{% block head %}
<title>{{ teacher.name }}</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome completo</div>
                <div>{{ teacher.name }}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{ teacher.age }}</div>
            </div>
            <div class="item">
                <div>Grau de escolaridade</div>
                <div>{{ teacher.degree }}</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>{{ teacher.classtype }}</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for service in teacher.services %}
                    <span>{{ service }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>{{ teacher.created_at }}</div>
            </div>
            <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>
        </section>
    </div>
{% endblock content %}