<div class="input-group">
    <h4>Imagem da receita</h4>
    <input type="url" name="image_url" placeholder="http://" value="{{ recipe.image_url }}">
</div>
<div class="input-group">
    <h4>Nome da receita</h4>
    <input type="text" name="title" placeholder="" value="{{ recipe.title }}">
</div>
<div class="input-group">
    <h4>Autor da receita</h4>
    <input type="text" name="author" placeholder="" value="{{ recipe.author }}">
</div>
<div class="input-group">
    <h4>Ingredientes</h4>
    <div class="inputs">
        {% if recipe.ingredients %}
        {% for ingredient in recipe.ingredients %}
        <input type="text" name="ingredients" placeholder="" value="{{ ingredient }}">
        {% endfor %}
        {% else %}
        <input type="text" name="ingredients" placeholder="">
        {% endif %}
    </div>
    <a class="button-text new-field">Adicionar novo ingrediente</a>
</div>
<div class="input-group">
    <h4>Modo de preparo</h4>
    <div class="inputs">
        {% if recipe.preparation %}
        {% for preparation in recipe.preparation %}
        <input type="text" name="preparation" placeholder="" value="{{ preparation }}">
        {% endfor %}
        {% else %}
        <input type="text" name="preparation" placeholder="">
        {% endif %}
    </div>
    <a class="button-text new-field">Adicionar novo passo</a>
</div>
<div class="input-group">
    <h4>Informações adicionais</h4>
    <textarea name="information" cols="30" rows="10" >{{ recipe.information}}</textarea>
</div>

