{% extends 'templates/layoutAdmin.njk' %}
{% block head %}
    <link rel="stylesheet" href="/styles/recipes.css">
    <link rel="stylesheet" href="/styles/recipes-grid.css">
    {# <link rel="stylesheet" href="/styles/modal.css"> #}
    <title>Foodfy - Receitas</title>
{% endblock head %}
{% block content %}
        <div class="recipe-cards">
            {% for recipe in recipes %}
                <div class="recipe-card" id="{{ recipe.id }}">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <p>{{ recipe.title }}</p>
                    <small>{{ recipe.author }}</small>
                </div>
            {% endfor %}
        </div>
{% endblock content %}

{# {% block modal %}
    {% include "templates/modal.njk" %}
{% endblock modal %} #}

{% block scripts %}
    <script src="/scripts/script.js"></script>
{% endblock scripts %}