{% macro render(title, classes) %}
<section class="card {{ classes }}">
  {% if title %}
  <div class="card-header">
    <h3>{{ title }}</h3>
  </div>
  {% endif %}
  <div class="card-content">
    {{ caller() }}
  </div>
</section>
{% endmacro %}