{% extends "layout.njk" %}

{% block head %}
<title>Aulas</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block content %}
    <div id="wrapper">
        <h1>Aulas</h1>
    </div>
    <section class="cards">
        {% for video in videos %}
        <div class="card" id="{{ video.id }}">
            <div class="card-image-container">
                <img src="https://img.youtube.com/vi/{{ video.id }}/maxresdefault.jpg" alt="{{ video.title }}">
                <div class="card-content">
                    <p>{{ video.title }}</p>
                </div>
                <div class="card-info">
                    <p>{{ video.duration }}</p>
                    <p class="card-price">{{ video.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal"><i class="material-icons">close</i></a>
            <div class="modal-content">
                <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <script src="/scripts/script.js"></script>
{% endblock content %}