{% extends 'templates/layoutAdmin.njk' %}
{% block head %}
    <title>Foodfy - Editar chefe</title>
{% endblock head %}

{% block content %}
        <form action="/admin/chefs?_method=PUT" method="post">
            <div class="recipe-create">
                <div class="recipe-edit">
                    <h2>Editar chef</h2>
                    <div class="buttons">
                        <button type="submit" class="delete-button button" form="delete-form">Deletar</button>
                        <button type="submit" class="button">Salvar chef</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="id" value="{{ chef.id }}">
            {% include "chefs/fields.njk" %}
        </form>
        <form id="delete-form" action="/admin/chefs?_method=DELETE" method="post">
            <input type="hidden" name="id" value="{{ chef.id }}">
        </form>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/form.js"></script>
{% endblock scripts %}