<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url }}">
    </div>
</div>
<div class="item">
    <div>Professor</div>
    <div>
        <input type="text" name="name" placeholder="Nome do professor" value="{{ teacher.name }}">
    </div>
</div>
<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ teacher.birth }}">
    </div>
</div>
<div class="item">
    <div>Grau de escolaridade</div>
    <div>
        <select name="degree" id="degree">
            <option value="" selected disabled>Selecione o grau de escolaridade</option>
            {% for degree, dvalue in degrees %}
            <option value="{{ degree }}" {% if degree == teacher.degree %}selected{% endif %} >{{ dvalue }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="item">
    <div>Tipo de aula</div>
    <div>
        <label><span><input type="radio" name="classtype" value="presential" {% if teacher.classtype == 'presential' %}checked{% endif %}>Presencial</span></label>
        <label><span><input type="radio" name="classtype" value="remote" {% if teacher.classtype == 'remote' %}checked{% endif %}>À distância</span></label>
    </div>
</div>
<div class="item">
    <div>Área de atuação</div>
    <div>
        <input type="text" name="services" value="{{ teacher.services }}" placeholder="Separe os serviçoes prestados por vírgula">
    </div>
</div>