<div class="item">
    <div>Nome completo</div>
    <div class="input">
        <input type="text" name="name" required placeholder="Digite seu nome completo" value="{{ user.name }}">
    </div>
</div>
<div class="item">
    <div>Email</div>
    <div class="input">
        <input type="email" name="email" placeholder="Digite seu email" onblur="Validate.apply(this, 'isEmail');" value="{{ user.email }}">
    </div>
</div>
<div class="item">
    <div>Senha</div>
    <div class="input">
        <input type="password" name="password" required 
        placeholder="{{ 'Escolha uma senha segura' if not user.id else 'Digite sua senha para atualizar seu cadastro' }}">
    </div>
</div>
{% if not user.id %}
<div class="item">
    <div>Confirme sua senha</div>
    <div class="input">
        <input type="password" name="passwordRepeat" required placeholder="Repita a senha escolhida">
    </div>
</div>
{% endif %}
<div class="item">
    <div>CPF ou CNPJ</div>
    <div class="input">
        <input type="text" name="cpf_cnpj" placeholder="Digite seu documento" onblur="Validate.apply(this, 'isCpfCnpj');" onkeydown="Mask.apply(this, 'cpfCnpj');" value="{{ user.cpf_cnpj }}">
    </div>
</div>
<div class="item">
    <div>CEP</div>
    <div class="input">
        <input type="text" name="cep" placeholder="99999-999" onblur="Validate.apply(this, 'isCep');" onkeydown="Mask.apply(this, 'cep');" value="{{ user.cep }}">
    </div>
</div>
<div class="item">
    <div>Endereço completo</div>
    <div class="input">
        <input type="text" name="address" placeholder="Digite seu endereço completo" value="{{ user.address }}">
    </div>
</div>
