<header>
    <div class="navbar">
        <a href="/"><h1>Foodfy</h1></a>
        <nav>
            <ul>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/recipes">Receitas</a></li>
                <li><a href="/chefs">Chefs</a></li>
            </ul>
        </nav>
    </div>
    <form action="/recipes" method="GET">
        <input type="text" name="filter" id="filter" value="{{ filter }}" placeholder="Buscar uma receita">
        <button type="submit">Buscar</button>
    </form>
</header>