{% extends 'layout.njk' %}

{% block head %}
<title>{{ student.name }}</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{ student.avatar_url }}) no-repeat center center / cover;"></section>
        <section class="details">
            <form action="/students?_method=PUT" onsubmit="validateFields(event)" method="POST">
                <h3>Editar</h3>
                {% include 'students/fields.njk' %}
                <input type="hidden" name="id" value="{{ student.id }}">
                <button type="submit">Editar</button>
            </form>
            <form id="form-delete" action="/students?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{ student.id }}">
                <button type="submit">Deletar</button>
            </form>
        </section>
    </div>
    <script src="/scripts/remove.js"></script>
{% endblock content %}