<div class="input-group">
    <h4>Nome</h4>
    <input type="text" name="name" placeholder="" value="{{ chef.name }}">
</div>
<div class="input-group">
    <h4>Avatar</h4>
    <input type="url" name="avatar_url" placeholder="http://" value="{{ chef.avatar_url }}">
</div>