<div class="header">
    <header>
        <div class="navbar">
            <a href="/admin"><h1>Foodfy</h1></a>
            <nav>
                <ul>
                    <li><a href="/admin/recipes">Receitas</a></li>
                    <li><a href="/admin/chefs">Chefs</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>