<div class="header">
    <header>
        <div class="navbar">
            <a href="/admin"><h1>Foodfy</h1></a>
            <nav>
                <ul>
                    <div class="links">
                        <li><a href="/admin/recipes">Receitas</a></li>
                        <li><a href="/admin/chefs">Chefs</a></li>
                        <li><a href="/admin/profile">Perfil</a></li>
                        {% if user.is_admin %}
                        <li><a href="/admin/users">Users</a></li>
                        {% endif %}
                    </div>
                    {% if user %}
                    <form action="/admin/users/logout" method="POST">
                        <button type="submit" class="logout">Sair</button>
                    </form>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
</div>